<form (ngSubmit)="onSubmit()" [formGroup]="passwordResetForm">

    <!-- <mat-form-field class="field" appearance="fill">
        <mat-label>Enter your new password</mat-label>
        <input matInput formControlName="password">
    </mat-form-field>

    <mat-form-field class="field" appearance="fill">
        <mat-label>Confirm the password</mat-label>
        <input matInput formControlName="confirmPassword">
    </mat-form-field>

    <div style="text-align: center">
        <button class="submit-btn" mat-raised-button type="submit">Submit</button>
    </div> -->

    <div class="grid-container">
        <div class="reset">
            Reset password
        </div>
        <div class="input">
            <input class="input-item" type="text" placeholder="Create a new password" formControlName="password" />
            <div class="error" *ngIf="submitted && password.errors">
                <div class="error" *ngIf="password.errors['required']">
                    This field is required
                </div>
            </div>
        </div>
        <div class="input">
            <input class="input-item" type="password" placeholder="Confirm the password" formControlName="confirmPassword" />
            <div class="error" *ngIf="submitted && confirmPassword.errors">
                <div class="error" *ngIf="confirmPassword.errors['required']">
                    This field is required
                </div>
            </div>
        </div>
        <div class="btn">
            <button type="submit">
      Submit
          </button>
        </div>
    </div>
</form>