<button class="print-button" *ngIf="watchLater || favoriteList" (click)="createReport()"><mat-icon>print</mat-icon></button>
<button class="home-button" *ngIf="watchLater || favoriteList" (click)="goHome()"><mat-icon>home</mat-icon></button>
<app-side-menu (filters)="filterMovies($event)"></app-side-menu>
<div class="grid-container">
    <div class="options">
        <div class="search-bar" (input)="onSearch()"><input type="text" placeholder="Search..." [(ngModel)]="searchString" /></div>
    </div>
    <div *ngFor="let movie of filteredMovies">
        <app-movie [movie]="movie"></app-movie>
    </div>
</div>
<app-pagination [totalPages]="filteredMovies.length/movieParameters.pageSize" (next)="onNextPage($event)" (previous)="onPreviousPage($event)"></app-pagination>