.grid-container {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
}

.options {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column: 1 / 4;
    column-gap: 0.5em;
    height: 5vh;
}

.options .search-bar {
    grid-column: 2 / 5;
}

.search-bar>input {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 2vh;
    padding-left: 3%;
    border-radius: 5px;
}

#overlay {
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
}

.print-button {
    float: right;
    margin-right: 5%;
    padding: 1%;
}

@media screen and (min-width: 601px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
    .options {
        grid-column: 1 / 5;
    }
    .options .search-bar {
        grid-column: 2 / 5;
    }
}