<div class="links">
    <span>
      <a routerLink="movies" routerLinkActive="active">Movies</a>
    </span>
    <span *ngIf="!userLoggedIn">
      <a routerLink="login" routerLinkActive="active">Log in</a>
    </span>
    <span *ngIf="!userLoggedIn">
      <a routerLink="signup" routerLinkActive="active">Sign up</a>
    </span>
    <span *ngIf="userLoggedIn">
      <a routerLink="home" routerLinkActive="active">Home page</a>
    </span>
    <span *ngIf="userLoggedIn">
      <a (click)="onLogOut()">Log out</a>
    </span>
    <span *ngIf="userLoggedIn && isAdmin">
      <a (click)="openAddMovie()">Add movie</a>
    </span>
    <!-- <span *ngIf="isAdmin">
      <a routerLink="user-table" routerLinkActive="active">User table</a>
    </span> -->
</div>