.item {
    text-align: center;
}

a {
    text-decoration: none;
}

.item>div {
    position: relative;
}

.item>div>span {
    color: rgb(253, 4, 4);
    position: absolute;
    font-weight: bold;
    font-size: 2em;
    top: -25px;
    right: -10px;
    cursor: pointer;
}

@media screen and (min-width: 601px) {
    h4 {
        font-size: 1.5vw;
        color: white;
    }
    img {
        height: 40vh;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    h4 {
        font-size: 3vw;
        color: white;
    }
    img {
        height: 20vh;
        width: 100%;
    }
}