<app-spinner-overlay *ngIf="!loaded"></app-spinner-overlay>

<form (ngSubmit)="onLogin()" [formGroup]="loginForm">
    <div class="grid-container">
        <div class="login">
            Log in
        </div>
        <div class="input">
            <input class="input-item" type="text" placeholder="Enter your email" formControlName="email" />
            <div class="error" *ngIf="submitted && email.dirty && email.errors">
                <div class="error" *ngIf="email.errors['required']">
                    This field is required
                </div>
            </div>
        </div>
        <div class="input">
            <input class="input-item" type="password" placeholder="Enter your password" formControlName="password" />
            <div class="error" *ngIf="submitted && password.dirty && password.errors">
                <div class="error" *ngIf="password.errors['required']">
                    This field is required
                </div>
            </div>
        </div>
        <div class="btn">
            <button type="submit">
        Log in
            </button>
        </div>
        <div class="no-account">
            <a routerLink="/signup" routerLinkActive="active">
        Don't have an account yet?
      </a>
        </div>
    </div>
</form>