<img id="img-popup" [src]="imageUrl">

<button (click)="goBack()">Go back</button>
<h4>{{movie?.title}} ({{movie?.releaseDate}})</h4>
<div class="grid-container">
    <div id="grid-item-image" class="grid-item-image">
        <a id="open-img-popup">
            <img [src]="imageUrl">
        </a>
    </div>
    <div class="grid-item-text">
        <div>
            <p>Genre: </p>
        </div>
        <div>
            <p><span *ngFor="let genre of movie?.genres">{{genre.name}} </span></p>
        </div>
        <div>
            <p>Release Year: </p>
        </div>
        <div>
            <p>{{movie?.releaseDate}}</p>
        </div>
        <div>
            <p>Director: </p>
        </div>
        <div>
            <p>{{movie?.director}}</p>
        </div>
        <div>
            <p>Runtime: </p>
        </div>
        <div>
            <p>{{movie?.runtimeHours}}</p>
        </div>
    </div>
</div>

<div class="description">
    <p><strong>The movie is about:</strong></p>
    <p>{{movie?.description}}</p>
</div>

<app-video *ngIf="videoSource" [videoSource]="videoSource"></app-video>

<app-list-buttons [movie]="movie" [loggedUserId]="loggedUserId" *ngIf="movie && isLoggedIn"></app-list-buttons>

<app-comment [loggedUserId]="loggedUserId" [movie]="movie"></app-comment>

<div id="overlay"></div>
