.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1em;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 1%;
}

img {
    width: 100%;
    height: 100%;
}

.grid-item-image {
    color: white;
}

.grid-item-image img {
    max-width: 100%;
    height: auto;
}

.grid-item-text {
    color: white;
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: repeat(4, 1fr);
    column-gap: 1em;
    height: 25vh;
    white-space: break-spaces;
}

.description>p {
    margin: 2% 2% 0 2%;
}

.button {
    margin: 2%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.button .watch-later {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    height: 8vh;
    font-weight: bold;
    border: none;
    background-color: rgb(251, 238, 2);
}

.comment {
    display: grid;
    background-color: rgb(26, 34, 66);
}

.comment>input {
    margin: 2%;
    height: 7vh;
    padding: 1%;
    border-radius: 10px;
}

.comment-items {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 1%;
    padding: 2%;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.sender {
    color: red;
    grid-column: 1/3;
}

.content {
    text-align: left;
    color: white;
    grid-column: 3 / 7;
}

.date {
    color: white;
    text-align: right;
    grid-column: 7 / 8;
}

hr {
    color: white;
    grid-column: 1 / 8;
}

@media screen and (min-width: 601px) {
    h4 {
        font-size: 2vw;
        color: white;
        padding-left: 2%;
    }
    p {
        color: white;
        font-size: 2vw;
    }
}

#fullSize {
    position: fixed;
    max-width: 100vw;
    max-height: 90vh;
    width: auto;
    cursor: pointer;
}

#img-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    background-color: #FFF;
    width: 50%;
    max-width: 500px;
    height: auto;
}

#img-popup.active {
    transform: translate(-50%, -50%) scale(1);
}

#overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
    transition: 200ms ease-in-out;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

@media screen and (max-width: 600px) {
    .button {
        grid-template-columns: repeat(6, 1fr);
    }
    h4 {
        font-size: 4vw;
        color: white;
        padding-left: 2%;
    }
    h3 {
        font-size: 4vw;
    }
    p {
        color: white;
        font-size: 4vw;
    }
    .grid-container {
        height: 28vh;
    }
    .grid-item-text {
        height: 28vh;
        width: 50vw;
    }
    #img-modal {
        width: 70%;
        height: auto;
    }
}
