/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('assets/images/wallpaper.jpg');
    background-attachment: fixed;
    height: 100%;
}

html {
    height: 100%;
    font-size: 100%;
}