p {
    font-size: 1em;
    font-weight: bold;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.buttons>button {
    padding: 1% 5%;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}

.buttons>button:first-child {
    background-color: rgb(9, 241, 9);
}

.buttons>button:nth-child(2) {
    background-color: rgb(246, 11, 11);
}