.links>a {
    display: block;
    font-size: 2em;
    margin: 1% 3%;
    color: rgb(251, 238, 2);
    font-weight: bold;
    text-decoration: none;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.links>a:hover {
    box-shadow: inset 300px 0 0 0 #54b3d6;
    color: #FFF;
}
