.grid-container {
    display: grid;
    background-color: red;
    min-height: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: rgb(26, 34, 66);
    text-align: center;
    margin: 1% 0;
}

.personal-info {
    margin: 2%;
}

.personal-info p {
    color: #FFF;
    margin: 0;
    padding: 0.5%;
}

button {
    width: 100%;
    color: transparent;
    background-color: transparent;
    border: none;
    margin: 0;
}

h1 {
    padding-left: 2%;
    color: white;
    padding: 0;
    margin: 0;
}

hr {
    color: white;
}

@media screen and (max-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}
