<div class="personal-info">
    <p>Name:&nbsp;&nbsp;&nbsp;&nbsp;{{userInfo.sub}}</p>
    <p>Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{userInfo.email}}</p>
</div>

<button (click)="onAddToFavorite()"><h1>Favorite Movies</h1></button>

<div class="grid-container" *ngIf="favorite">
    <div class="favorite" *ngFor="let movie of favoriteMovies">
        <app-movie [movie]="movie"></app-movie>
    </div>
</div>


<button (click)="onWatchLater()"><h1>Watch Later</h1></button>

<div class="grid-container" *ngIf="watchLater">
    <div class="watch-later" *ngFor="let movie of watchLaterMovies">
        <app-movie [movie]="movie"></app-movie>
    </div>
</div>
