<app-spinner-overlay *ngIf="!loaded"></app-spinner-overlay>
<form (ngSubmit)="onSignup()" [formGroup]="signupForm">
    <div class="grid-container">
        <div class="signup">
            Sign up
        </div>
        <div class="input">
            <input class="input-item" type="text" placeholder="Enter your name" formControlName="name" />
            <div class="error" *ngIf="submitted && f['name'].errors">
                <div *ngIf="f['name'].errors['required']">
                    This field is required
                </div>
                <div *ngIf="f['name'].errors['minlength']">
                    Name must be at lest 4 symbols long
                </div>
            </div>
        </div>
        <div class="input">
            <input class="input-item" type="text" placeholder="Enter your email" formControlName="email" />
            <div class="error" *ngIf="submitted && f['email'].errors">
                <div *ngIf="f['email'].errors['required']">
                    This field is required
                </div>
                <div *ngIf="f['email'].errors['email']">
                    Invalid email
                </div>
            </div>
        </div>
        <div class="input">
            <input class="input-item" type="text" placeholder="Create your login" formControlName="login" />
            <div class="error" *ngIf="submitted && f['login'].errors">
                <div *ngIf="f['login'].errors['required']">
                    This field is required
                </div>
                <div *ngIf="f['login'].errors['minlength']">
                    Login must be at least 4 symbols long
                </div>
            </div>
        </div>
        <div class="input">
            <input class="input-item" type="password" placeholder="Create your password" formControlName="password" />
            <div class="error" *ngIf="submitted && f['password'].errors">
                <div *ngIf="f['password'].errors['required']">
                    This field is required
                </div>
                <div *ngIf="f['password'].errors['minlength']">
                    Password must be at least 6 symbols long
                </div>
            </div>
        </div>
        <div class="input">
            <input class="input-item" type="password" placeholder="Confirm the password" formControlName="confirmPassword" />
            <div class="error" *ngIf="submitted && f['confirmPassword'].errors">
                <div *ngIf="f['confirmPassword'].errors['required']">
                    This field is required
                </div>
            </div>
        </div>
        <div class="input">
            <input class="input-item" type="text" placeholder="Enter your age" formControlName="age" />
            <div class="error" *ngIf="submitted && f['age'].errors">
                <div *ngIf="f['age'].errors['required']">
                    This field is required
                </div>
                <div *ngIf="f['age'].errors['min'] || f['age'].errors['max']">
                    Ah, no way!
                </div>
            </div>
        </div>
        <div class="btn">
            <button type="submit">
        Sign up
        </button>
        </div>
        <div class="has-account">
            <a routerLink="/login" routerLinkActive="active">
        Already have an account?
      </a>
        </div>
    </div>
</form>