.error {
    color: rgb(251, 238, 2);
}

input[class*="input-item"] {
    width: 100%;
    height: 7vh;
    padding-left: 3%;
    border-radius: 15px;
    border: none;
}

.btn>button {
    width: 100%;
    height: 5vh;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    background-color: rgb(251, 238, 2);
}

@media screen and (min-width: 601px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        row-gap: 1em;
        background-color: rgb(26, 34, 66);
    }
    .signup {
        grid-column: 3 / 7;
        text-align: center;
        font-weight: bold;
        font-size: 5vh;
        color: rgb(251, 238, 2);
    }
    [class*="input"] {
        grid-column: 3 / 7;
    }
    .has-account {
        grid-column: 2 / 8;
        text-align: center;
    }
    .btn {
        margin: 0;
        padding: 0;
        grid-column: 4 / 6;
    }
}

@media screen and (max-width: 601px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        row-gap: 1em;
        background-color: rgb(26, 34, 66);
    }
    .signup {
        grid-column: 4 / 8;
        text-align: center;
        font-weight: bold;
        font-size: 5vh;
        color: rgb(251, 238, 2);
    }
    [class*="input"] {
        grid-column: 3 / 9;
    }
    .has-account {
        grid-column: 3 / 9;
        text-align: center;
    }
    .btn {
        margin: 0;
        padding: 0;
        grid-column: 5 / 7;
    }
}
