.nav {
    position: fixed;
    width: 100%;
    top: 0;
}

@media screen and (min-width: 601px) {
    .container {
        margin-top: 3.5%;
        max-width: 65%;
        background-color: rgb(26, 34, 66);
        padding: 0;
        min-height: 100%;
        padding-top: 1em;
    }
}

@media screen and (max-width: 1050px) {
    .container {
        max-width: 100%;
    }
}

@media screen and (max-width: 601px) {
    .container {
        margin-top: 13%;
        max-width: 100%;
        background-color: rgb(26, 34, 66);
        padding: 0;
        min-height: 100%;
        padding-top: 1em;
    }
}
