<button class="sort-btn" (click)="showSortingOptions()">Sort by</button>
<div *ngIf="showOptions">
    <div class="side-menu">
        <button class="close-btn" (click)="closeMenu()">&times;</button>
        <button class="main-option" (click)="showGenres = !showGenres">Genre</button>
        <div *ngIf="showGenres">
            <div class="listing">
                <button *ngFor="let genre of genres" (click)="onSortByGenre(genre)" [ngClass]="{option: !checkIfGenreIsChosen(genre),
                                chosenOption: checkIfGenreIsChosen(genre)}">
              {{genre.name}}
            </button>
            </div>
        </div>
        <button class="main-option" (click)="showYears = !showYears">Year</button>
        <div *ngIf="showYears">
            <div class="listing">
                <button *ngFor="let year of years" (click)="onSortByYear(year)" [ngClass]="{option: !checkIfYearIsChosen(year),
                    chosenOption: checkIfYearIsChosen(year)}">
              {{year}}
            </button>
            </div>
        </div>
        <button class="main-option" (click)="showRuntime = !showRuntime">Runtime</button>
        <div *ngIf="showRuntime">
            <button *ngFor="let r of runtime" (click)="onSortByRuntime(r)" [ngClass]="{option: !checkIfRuntimeIsChosen(r),
                    chosenOption: checkIfRuntimeIsChosen(r)}">
        <span> {{r}}</span>
      </button>
        </div>
    </div>
</div>